<h1>Listing Users</h1>
<table class="table">
  <%= for user <- @users do %>
    <tr>
      <td>
        <UserComponent.show user={user} />
      </td>
      <td>
        <.link href={~p"/users/#{user.id}"}>View</.link>
      </td>
    </tr>
  <% end %>
</table>

<.link href={~p"/users/new"}>Add user</.link>
